editdistance
numba
opencv-python~=4.11.0.86
tqdm~=4.67.1
torch~=2.6.0
torchvision~=0.21.0
fastapi~=0.115.8
easyocr~=1.7.2
numpy~=2.0.2
h5py~=3.12.1
data~=0.4
keras~=3.8.0
mltu~=1.2.5
tensorflow~=2.18.0
pandas~=2.2.3